page-hfunc {
    ion-content{
        
        background-size: cover;
         color: #FFFFFF;
        text-align: center;
      }

      .pes{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        border: none;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        transition: all 0.3s ease-in-out;
        width: 85%;
        height: 35px;
        color: #FFFFFF
    
  }
  input[type=number]{
    background-color: #FFFFFF;
    border: none;
    color: black; 
    padding: 15px 32px;
    text-decoration: none;
    font-size: 13px;
    margin: 1px;
    width: 100%;
    border: 1px solid #FFFFFF;
    transition: all 0.5s ease-in-out;
    height: 1px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;  
  }
  ion-item{
    background-color: #f7f7f7 !important;
    
  }

  .item-inner{
        width: 10%;
        height: 50px;

  }
  .grupo{
    font-size: 4em;
    text-align: center;

  }
    
  }



