page-contact {

    ion-content{
        background-color: #FFFFFF;
        background-size: cover;
       color: #FFFFFF;
        text-align: center;
      }
     h5{
         text-align: right;
     } 

}
